
.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    margin: 0 auto;
    font-family: "Karla", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    background-color: #1F2937;
    width: 400px;
    height: 3500px;
    max-width: 400px;
    max-height: 300px;
    
    padding: 10% 8%;
}

#title {
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}
#title2 {
    color: #4ADF86;
}
#intro {
    color: #D5D4D8;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#generate {
    background-color: #10B981;
    color: white;
    width: 186px;
    margin: 24px 0 0; 
    padding: 10px 12px;
    border-radius: 6px;
    border: 3px solid #1F2937;
}

.passwords {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-top: 1px solid #2F3E53;
    margin-top: 32px;
    margin-bottom: 64px;
}

.newPass {
    width: 190px;
    height: 40px;
    margin: 32px 0;
    padding: 4px auto;
    
    border-radius: 6px;
    border: 3px solid #1F2937;
    background-color: #273549;
    color: #55F991;
}